nav {
    height: 3rem;
    width: 100%;
    height: 5rem;
    background-color: cornflowerblue;
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.nav__left{
    font-size: 2rem;
    color: darkblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.nav__rigth {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.nav__rigth ul{
    display: flex;
    
}
.nav__rigth li{
    margin-right: 1.5rem;
    list-style: none;
}